{% extends "accounts/base.html" %}

{% block title %}
    Customer
{% endblock title %}
{% block content %}
<div class="container">
<div class="row mt-3">
  <div class="col-sm-4">
    <div class="card  mb-3">
        <div class="card-header">
        
        <h5 class="card-title">Customer</h5>
        </div>
      <div class="card-body">
        <a class="btn btn-outline-info btn-sm btn-block" href="#">Update Customer</a>
        <a class="btn btn-outline-danger btn-sm btn-block" href="#">Remove Customer</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card  mb-3">

    <div class="card-header">
        <h5 class="card-title">Contact Information</h5>
    </div>
      <div class="card-body">
        
        <p>Email: <a href="">{{ customer.email}} </a></p>
        <p>Phone: <a href="">{{ customer.phone}} </a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
    <div class="card-header">
        <h5 class="card-title">Total Orders</h5>
        
    </div>
      <div class="card-body">
        
        <p>{{ total_orders }}</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="#" method="GET">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <table class="table">
            
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Order</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
              {% for order in orders %}
              <tr>
                <td>{{ order.product}}</td>
                <td>{{ order.product.category}}</td>
                <td>{{ order.created}}</td>
                <td>{{ order.status}}</td>
                <td><a href="" class="btn btn-warning">Update</a></td>
                <td><a href="" class="btn btn-danger">Remove</a></td>
              </tr>
              {% endfor %}
            </table>
        </div>
    </div>
</div>

</div>
{% endblock content %}