{% extends "accounts/base.html" %} {% block title %} Homepage {% endblock title %}
 
{% block content %}
{% include "accounts/status.html" %}

<div class="container mt-3">
  
  <div class="row">
  
    <div class="col-md-5">
    <h4>Customers</h4>
    <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'accounts:createcustomer' %}">Create Customer</a>
        </div>
    <table class="table">
      <tr>
          <th>Customer</th>
          <th>Phone</th>
      </tr>
      {% for customer in customers %}
        <tr>
          <td>{{ customer.name }}</td>
          <td>{{ customer.phone }}</td>
        </tr>
      {% endfor %}
      
    </table>
    </div>
    <div class="col-md-5">
    <h4>Last 5 Products</h4>
    <hr>
        <div class="card card-body">
        
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'accounts:createorder' %}">Create Order</a>
        <table class="table">
        <tr>
        <th>Product</th>
        <th>Date Order</th>
        <th>Status</th>
        <th>Update</th>
        <th>Remove</th>
        </tr>
          {% for order in orders %}
        <tr>
          <td>{{ order.product }}</td>
          <td>{{ order.created }}</td>
          <td>{{ order.status }}</td>
          <td><a href="{% url 'accounts:editorder' order.id %}" class="btn btn-warning">Update</a></td>
          <td><a href="#" class="btn btn-danger">Remove</a></td>
        </tr>
      {% endfor %}
        
        </table>
        </div>
    
    </div>
        
   


  </div>
</div>
{% endblock content %}
